<nav class="header">
    <div class="logo">
        <a routerLink="/">
            <img src="assets/img/logo_cabecera.png" alt="logo" width="120" height="120">
        </a>
        <a routerLink="/" class="logo2">INNOVACIONES EQUIPMED S.A.S</a>
    </div>
    <nav class="nav">
        <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a routerLink="/" class="nav-menu-link nav-link">Inicio</a>
            </li>
            <li class="nav-menu-item">
                <a routerLink="/acercaDeNosotros" class="nav-menu-link nav-link">Acerca de nosotros</a>
            </li>
            <li class="nav-menu-item">
                <a routerLink="/nuestrosServicios" class="nav-menu-link nav-link">Nuestros servicios</a>
            </li>
            <li class="nav-menu-item">
                <a routerLink="/contacto" class="nav-menu-link nav-link">Contacto</a>
            </li>
            <li class="nav-menu-item">
                <a routerLink="/login" class="nav-menu-link nav-link">Acceso</a>
            </li>
        </ul>
    </nav>
</nav>