<section class="contenido">
    <section class="inicio" id="inicio">
        <h2>Sección de Inicio</h2>
        <p>Bienvenido a nuestra página web biomédica. Aquí encontrarás información sobre nuestros servicios y nuestro
            compromiso con la salud.</p>
    </section>
    <section class="acerca" id="acerca">
        <h2>Acerca de Nosotros</h2>
        <p>Somos un equipo de profesionales comprometidos con la investigación y el desarrollo de soluciones biomédicas
            innovadoras.</p>
    </section>
    <section class="servicios" id="servicios">
        <h2>Nuestros Servicios</h2>
        <ul>
            <li>Servicio 1</li>
            <li>Servicio 2</li>
            <li>Servicio 3</li>
        </ul>
    </section>
    <section class="contacto" id="contacto">
        <h2>Contacto</h2>
        <p>Comunicate con nosotros a través del siguiente correo electrónico: ejemplogmail.com</p>
    </section>
    </section>
